<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration>
<Configuration>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout>
				<Pattern>%message %n</Pattern>
			</PatternLayout>
		</Console>

		<File name="FileLog" fileName="debug.log" append="false">
			<PatternLayout>
				<Pattern>[%3sequenceNumber %date{HH:mm:ss:SSS} %-5level{lowerCase=true}] %file@%-3line %8thread: %message%n</Pattern>
			</PatternLayout>
		</File>
	</Appenders>

	<Loggers>
	
		<Logger name="ArgumentParser" level="ALL" additivity="false">
			<AppenderRef ref="FileLog" />
		</Logger>
		
		<Logger name="Driver" level="ALL" additivity="false">
			<AppenderRef ref="FileLog" />
		</Logger>
		
		<Logger name="FileTraverser" level="ALL" additivity="false">
			<AppenderRef ref="FileLog" />
		</Logger>
		
		<Logger name="InvertedIndex" level="ALL" additivity="false">
			<AppenderRef ref="FileLog" />
		</Logger>
		
		<Logger name="InvertedIndexBuilder" level="ALL" additivity="false">
			<AppenderRef ref="FileLog" />
		</Logger>
		
		<Logger name="JSONWriter" level="ALL" additivity="false">
			<AppenderRef ref="FileLog" />
		</Logger>
		
		<Logger name="MultithreadedInvertedIndexBuilder" level="ALL" additivity="false">
			<AppenderRef ref="FileLog" />
		</Logger>
		
		<Logger name="MultithreadedQueries" level="ALL" additivity="false">
			<AppenderRef ref="FileLog" />
		</Logger>
		
		<Logger name="Queries" level="ALL" additivity="false">
			<AppenderRef ref="FileLog" />
		</Logger>
		
		<Logger name="QueriesInterface" level="ALL" additivity="false">
			<AppenderRef ref="FileLog" />
		</Logger>
		
		<Logger name="ReadWriteLock" level="ALL" additivity="false">
			<AppenderRef ref="FileLog" />
		</Logger>
		
		<Logger name="TextParser" level="ALL" additivity="false">
			<AppenderRef ref="FileLog" />
		</Logger>
		
		<Logger name="ThreadSafeInvertedIndex" level="ALL" additivity="false">
			<AppenderRef ref="FileLog" />
		</Logger>
		
		<Logger name="WorkQueue" level="ALL" additivity="false">
			<AppenderRef ref="FileLog" />
		</Logger>
		
		<Root level="ALL">
			<AppenderRef ref="Console" level="INFO" />
			<AppenderRef ref="FileLog" level="ALL" />
		</Root>
	</Loggers>
</Configuration>